

<!-- nav = nav-mobile -->
<!-- nav-mobile = navbar-mobile -->

<!-- MOBILE NAV -->
<section class="nav-mobile">
  <div class="navbar-mobile">
    <a id="nav-toggle" href="#!"><span></span></a>
  </div>
  <ul class="nav-mobile-list">
    <li>
      <a href="#home">Home</a>
      <hr>
    </li>
    <li>
      <a href="#about">About</a>
      <hr>
    </li>
    <li>
      <a href="#work">Work</a>
      <hr>
    </li>
    <li>
      <a href="#services">Services</a>
      <hr>
    </li>
    <li>
      <a href="#team">Team</a>
      <hr>
    </li>
    <li>
      <a href="#blog">Blog</a>
      <hr>
    </li>
    <li>
      <a href="#contact">Contact</a>
    </li>
  </ul>
</section>


<!-- DESKTOP NAV -->
<section class="nav-desktop">
  <div class="logo">
    <a href="#home">Logo</a>
  </div>
    <ul class="nav-list">
      <li>
        <a href="#home" onclick="clickSingleA(this)" class="single">Home</a>
      </li>
      <li>
        <a href="#about" onclick="clickSingleA(this)" class="single">About</a>
      </li>
      <li>
        <a href="#work" onclick="clickSingleA(this)" class="single">Work</a>
      </li>
      <li>
        <a href="#services" onclick="clickSingleA(this)" class="single">Services</a>
      </li>
      <li>
        <a href="#team" onclick="clickSingleA(this)" class="single">Team</a>
      </li>
      <li>
        <a href="#blog" onclick="clickSingleA(this)" class="single">Blog</a>
      </li>
      <li>
        <a href="#contact" onclick="clickSingleA(this)" class="single">Contact</a>
      </li>
    </ul>
</section>
