// ***************************************
// Styles that apply to all section titles
// ***************************************

.title {
  h1 {
    text-align: center;
    font-family: $secondary-font;
    padding: 20vh 0 0 0;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 2px;
    color: $font-color;
  }
}

.underline {
  margin: -28px auto 0 auto;
  border-top: 10px solid $accent-color;
  padding-bottom: 10vh;
}

// *************
// About section
// *************

.about {
  background-image: url('../img/white_paperboard.png');
  margin-top: -25px;
  padding: 0 0 40vh 5vw;
  overflow: hidden;
  .underline {
    width: 160px;
  }
  p {
    font-family: $main-font;
    color: $tertiary-font-color;
    font-size: 1.1em;
    text-indent: 50px;
    line-height: 1.5;
    padding: 2vh 5vw;
  }
  img {
    margin-top: 100px;
    -webkit-transform: scale(1.5); /* Saf3.1+, Chrome */
     -moz-transform: scale(1.5); /* FF3.5+ */
      -ms-transform: scale(1.5); /* IE9 */
       -o-transform: scale(1.5); /* Opera 10.5+ */
          transform: scale(1.5);
  }
  .stars {
    color: $font-color;
    padding-left: 13vw;
    h6 {
      font-family: $main-font;
      text-transform: uppercase;
      font-size: 0.9em;
      padding-top: 25px;
    }
    .five-stars {
      padding-left: 25px;
      padding-top: 10px;
      i {
        padding-left: 10px;
        font-size: 1.5em;
      }
    }
  }
}

//*****************************
// Reasons to choose us section
//*****************************

.reasons {
  background-color: #262626;
  background-image: url('../img/texture-background.png');
  padding: 10vh 0 0 0;
  h1 {
    font-size: 11em;
    text-align: right;
    color: $accent-color;
  }
  span {
    font-size: 0.7em;
    vertical-align: text-top;
  }
  h2 {
    text-transform: uppercase;
    font-size: 1.3em;
    color: $secondary-font-color;
    font-family: $secondary-font;
    letter-spacing: 2px;
    padding-top: 110px;
  }
  p {
    padding-top: 30px;
    font-family: $main-font;
    color: $secondary-font-color;
    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 1.3;
  }
  .icon-row {
    text-align: center;
    .coffee, .trophy, .star, .users {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    .coffee, .trophy, .star {
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
    i {
      font-size: 2.6em;
      color: $accent-color;
      padding-top: 13vh;
    }
    h6 {
      color: $accent-color;
      font-size: 2em;
      font-family: $main-font;
      padding-top: 3vh;
    }
    h2 {
      padding-top: 4vh;
      font-size: 0.9em;
      padding-bottom: 13vh;
    }
  }
}


// ************
// Logo section
// ************

.logo-grid {
  text-align: center;
  padding-top: 25px;
  .row {
    padding: 50px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  img {
    height: 140px;
    opacity: 0.8;
  }
}


// ****************
// Our Work section
// ****************

.work {
  background-image: url('../img/white_paperboard.png');
  padding: 0 0 30vh 0;
  #photo-grid .grid-item .grid-item-inner {
   position: relative;
   background: #ececec;
   width: 100%;
   height: 100%;
  }
  .grid {
    margin-left: 5%;
    .grid-item {
      width: 396px;
      margin: 2px;
      &:hover {
        .image-overlay {
          opacity: 1;
          transition: 0.4s ease;
        }
      }
    }
    .image-overlay {
      height: 90%;
      width: 90%;
      position: absolute;
      top: 5%;
      left: 5%;
      background-color: rgba(55, 173, 159, 0.8);
      z-index: 1;
      text-align: center;
      opacity: 0;
      transition: 0.4s ease;
      h6 {
        color: $secondary-font-color;
        font-family: $tertiary-font;
        font-size: 26px;
        margin-top: 30%;
      }
      p {
        font-family: $main-font;
        color: $secondary-font-color;
      }
    }
  }
  .button-row {
    margin: 0 0 25px 25px;
    .button {
     display: inline-block;
     padding: 15px 23px;
     margin-right: 8px;
     background-color: #fff;
     border: 1px solid #fff;
     border-radius: 1px;
     color: $font-color;
     font-family: $secondary-font;
     text-transform: uppercase;
     font-size: 14px;
     cursor: pointer;
     transition: 0.3s ease;
     &:hover {
       background-color: $accent-color;
       border: 1px solid $accent-color;
       color: $secondary-font-color;
       transition: 0.3s ease;
     }
     &:active, &.is-checked {
       background-color: $accent-color;
       border: 1px solid $accent-color;
       color: $secondary-font-color;
     }
     &:focus {
      outline: none;
    }
   }
  }
  .title-row {
    .title {
      h1 {
        font-size: 1.8em;
        margin-bottom: 30px;
      }
    }
  }
  .services-row {
    padding: 0 60px;
    h2 {
      font-family: $secondary-font;
      font-size: 1.5em;
      margin-top: 50px;
    }
    p {
      padding: 20px 20px 0 10px;
      font-family: $tertiary-font;
      line-height: 1.6;
      text-indent: 60px;
    }
  }
}

.chart-container {
  padding: 30vh 0 90vh 0;
  background-color: $accent-color;
  .main-circle {
    height: 400px;
    width: 400px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    h1 {
      padding-top: 170px;
      color: $accent-color;
      text-transform: uppercase;
      font-family: $secondary-font;
      text-align: center;
      font-size: 4em;
    }
  }
  .circle {
    height: 200px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    h2 {
      text-align: center;
      padding-top: 85px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 1);
      font-family: $secondary-font;
    }
  }
  .circle-1 {
    margin-top: -500px;
    margin-left: -75px;
    height: 200px;
    width: 200px;
  }
  .circle-2 {
    margin-top: -40px;
    margin-left: -140px;
    height: 160px;
    width: 160px;
    h2 {
      padding-top: 70px;
    }
  }
  .circle-3 {
    height: 220px;
    width: 220px;
    margin-top: -30px;
    margin-left: -190px;
    h2 {
      padding-top: 105px;
    }
  }
  .circle-4 {
    margin-top: -70px;
    margin-left: -60px;
    h2 {
      padding-top: 90px;
    }
  }
  .circle-5 {
    margin-top: -170px;
    margin-left: 120px;
    width: 120px;
    height: 120px;
    h2 {
      padding-top: 55px;
    }
  }
  .circle-6 {
    height: 180px;
    width: 180px;
    margin-top: -130px;
    margin-left: 220px;
  }
  .circle-7 {
    height: 220px;
    width: 220px;
    margin-top: -340px;
    margin-left: 330px;
    h2 {
      padding-top: 100px;
    }
  }
  .circle-8 {
    height: 160px;
    width: 160px;
    margin-top: -350px;
    margin-left: 370px;
    h2 {
      padding-top: 70px;
    }
  }
  .circle-9 {
    height: 220px;
    width: 220px;
    margin-top: -350px;
    margin-left: 260px;
    h2 {
      padding-top: 100px;
    }
  }
  .circle-10 {
    height: 170px;
    width: 170px;
    margin-top: -230px;
    margin-left: 110px;
    h2 {
      padding-top: 70px;
    }
  }
}





// **************************
// JS fade in animation stuff
// **************************

.fade1 {
  opacity: 0;
}

.fade2 {
  opacity: 0;
  &.in-view {
    transition-delay: 0.1s;
  }
}

.fade3 {
  opacity: 0;
  &.in-view {
    transition-delay: 0.2s;
  }
}
.fade4 {
  opacity: 0;
  &.in-view {
    transition-delay: 0.3s;
  }
}
.fade5 {
  opacity: 0;
  &.in-view {
    transition-delay: 0.4s;
  }
}

.in-view {
  opacity: 1;
  transition: 1s ease;
}


// *******************
// Slide in underlines
// *******************

.animation-element {
  opacity: 0;
  position: relative;
  display: inline-block;
  margin-left: 44%;
}

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 10px;
}

.animation-element.slide-left.in-view {
  opacity: 1;
  width: 160px;
}
