// ***************************************
// Styles that apply to all section titles
// ***************************************

.title {
  h1 {
    text-align: center;
    font-family: $secondary-font;
    padding: 20vh 0 0 0;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 2px;
    color: $font-color;
  }
}

.underline {
  margin: -28px auto 0 auto;
  border-top: 10px solid $accent-color;
  padding-bottom: 10vh;
}

// *************
// About section
// *************

.about {
  background-image: url('../img/white_paperboard.png');
  margin-top: -25px;
  padding: 0 0 40vh 5vw;
  overflow: hidden;
  .underline {
    width: 160px;
  }
  p {
    font-family: $main-font;
    color: $tertiary-font-color;
    font-size: 1.1em;
    text-indent: 50px;
    line-height: 1.5;
    padding: 2vh 5vw;
  }
  img {
    margin-top: 100px;
    -webkit-transform: scale(1.5); /* Saf3.1+, Chrome */
     -moz-transform: scale(1.5); /* FF3.5+ */
      -ms-transform: scale(1.5); /* IE9 */
       -o-transform: scale(1.5); /* Opera 10.5+ */
          transform: scale(1.5);
  }
  .stars {
    color: $font-color;
    padding-left: 13vw;
    h6 {
      font-family: $main-font;
      text-transform: uppercase;
      font-size: 0.9em;
      padding-top: 25px;
    }
    .five-stars {
      padding-left: 25px;
      padding-top: 10px;
      i {
        padding-left: 10px;
        font-size: 1.5em;
      }
    }
  }
}


//*****************************
// Reasons to choose us section
//*****************************

.reasons {
  background-color: #262626;
  background-image: url('../img/texture-background.png');
  padding: 10vh 0 0 0;
  h1 {
    font-size: 11em;
    text-align: right;
    color: $accent-color;
  }
  span {
    font-size: 0.7em;
    vertical-align: text-top;
  }
  h2 {
    text-transform: uppercase;
    font-size: 1.3em;
    color: $secondary-font-color;
    font-family: $secondary-font;
    letter-spacing: 2px;
    padding-top: 110px;
  }
  p {
    padding-top: 30px;
    font-family: $main-font;
    color: $secondary-font-color;
    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 1.3;
  }
  .icon-row {
    text-align: center;
    .coffee, .trophy, .star, .users {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    .coffee, .trophy, .star {
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
    i {
      font-size: 2.6em;
      color: $accent-color;
      padding-top: 13vh;
    }
    h6 {
      color: $accent-color;
      font-size: 2em;
      font-family: $main-font;
      padding-top: 3vh;
    }
    h2 {
      padding-top: 4vh;
      font-size: 0.9em;
      padding-bottom: 13vh;
    }
  }
}


// ************
// Logo section
// ************

.logo-grid {
  text-align: center;
  padding-top: 25px;
  .row {
    padding: 50px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  img {
    height: 140px;
    opacity: 0.8;
  }
}


// ****************
// Our Work section
// ****************

.work {
  background-image: url('../img/white_paperboard.png');
  padding: 0 0 30vh 0;
  #photo-grid .grid-item .grid-item-inner {
   position: relative;
   background: #ececec;
   width: 100%;
   height: 100%;
  }
  .grid {
    margin-left: 5%;
    .grid-item {
      width: 396px;
      margin: 2px;
      &:hover {
        .image-overlay {
          opacity: 1;
          transition: 0.4s ease;
        }
      }
    }
    .image-overlay {
      height: 90%;
      width: 90%;
      position: absolute;
      top: 5%;
      left: 5%;
      background-color: rgba(55, 173, 159, 0.8);
      z-index: 1;
      text-align: center;
      opacity: 0;
      transition: 0.4s ease;
      h6 {
        color: $secondary-font-color;
        font-family: $tertiary-font;
        font-size: 26px;
        margin-top: 30%;
      }
      p {
        font-family: $main-font;
        color: $secondary-font-color;
      }
    }
  }
  .button-row {
    margin: 0 0 25px 25px;
    .button {
     display: inline-block;
     padding: 15px 23px;
     margin-top: 10px;
     margin-right: 8px;
     background-color: #fff;
     border: 1px solid #fff;
     border-radius: 1px;
     color: $font-color;
     font-family: $secondary-font;
     text-transform: uppercase;
     font-size: 14px;
     cursor: pointer;
     transition: 0.3s ease;
     &:hover {
       background-color: $accent-color;
       border: 1px solid $accent-color;
       color: $secondary-font-color;
       transition: 0.3s ease;
     }
     &:active, &.is-checked {
       background-color: $accent-color;
       border: 1px solid $accent-color;
       color: $secondary-font-color;
     }
     &:focus {
      outline: none;
    }
   }
  }
  .title-row {
    .title {
      h1 {
        font-size: 1.8em;
        margin-bottom: 30px;
      }
    }
  }
  .services-row {
    padding: 0 60px;
    h2 {
      font-family: $secondary-font;
      font-size: 1.5em;
      margin-top: 50px;
    }
    p {
      padding: 20px 20px 0 10px;
      font-family: $tertiary-font;
      line-height: 1.6;
      text-indent: 60px;
    }
  }
}


.chart-container {
  padding: 30vh 0 90vh 0;
  background-color: $accent-color;
  .main-circle {
    height: 400px;
    width: 400px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    h1 {
      padding-top: 170px;
      color: $accent-color;
      text-transform: uppercase;
      font-family: $secondary-font;
      text-align: center;
      font-size: 4em;
    }
  }
  .circle {
    height: 200px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    h2 {
      text-align: center;
      padding-top: 85px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 1);
      font-family: $secondary-font;
    }
  }
  .circle-1 {
    margin-top: -500px;
    margin-left: -75px;
    height: 200px;
    width: 200px;
  }
  .circle-2 {
    margin-top: -40px;
    margin-left: -140px;
    height: 160px;
    width: 160px;
    h2 {
      padding-top: 70px;
    }
  }
  .circle-3 {
    height: 220px;
    width: 220px;
    margin-top: -30px;
    margin-left: -190px;
    h2 {
      padding-top: 105px;
    }
  }
  .circle-4 {
    margin-top: -70px;
    margin-left: -60px;
    h2 {
      padding-top: 90px;
    }
  }
  .circle-5 {
    margin-top: -170px;
    margin-left: 120px;
    width: 120px;
    height: 120px;
    h2 {
      padding-top: 55px;
    }
  }
  .circle-6 {
    height: 180px;
    width: 180px;
    margin-top: -130px;
    margin-left: 220px;
  }
  .circle-7 {
    height: 220px;
    width: 220px;
    margin-top: -340px;
    margin-left: 330px;
    h2 {
      padding-top: 100px;
    }
  }
  .circle-8 {
    height: 160px;
    width: 160px;
    margin-top: -350px;
    margin-left: 370px;
    h2 {
      padding-top: 70px;
    }
  }
  .circle-9 {
    height: 220px;
    width: 220px;
    margin-top: -350px;
    margin-left: 260px;
    h2 {
      padding-top: 100px;
    }
  }
  .circle-10 {
    height: 170px;
    width: 170px;
    margin-top: -230px;
    margin-left: 110px;
    h2 {
      padding-top: 70px;
    }
  }
}


// ***************
// Meet us section
// ***************

.meet-us {
  background-image: url('../img/white_paperboard.png');
  img {
    width: 100%;
    height: 100%;
    max-height: 330px;
    display: block;
    z-index: 1;
  }
  h2 {
    font-family: $secondary-font;
    text-transform: uppercase;
    color: $font-color;
    padding-top: 90px;
    text-align: center;
  }
  p {
    font-family: $main-font;
    color: $tertiary-font-color;
    padding: 20px 60px;
    line-height: 1.3;
    text-align: center;
  }
  .staff-pic {
    padding: 0;
    height: 330px;
    width: 100%;
    background-size: cover;
    background-position: center;
    .staff-image-overlay {
      background-color: rgba(55, 173, 159, 0.8);
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 30%;
      max-height: 330px;
      opacity: 0;
      transition: 0.5s;
      h3, h6 {
        color: $secondary-font-color;
        line-height: 1.5;
      }
      h3 {
        font-family: $secondary-font;
        text-transform: uppercase;
        font-size: 1.5em;
      }
      h6 {
        font-family: $main-font;
        font-size: 1.1em;
      }
    }
  }
  .staff-pic-1 {
    background-image: url('../img/staff-1.jpg');
    &:hover {
      .staff-image-overlay {
        opacity: 1;
        transition: 0.5s;
      }
    }
  }
  .staff-pic-2 {
    background-image: url('../img/staff-2.jpg');
    &:hover {
      .staff-image-overlay {
        opacity: 1;
        transition: 0.5s;
      }
    }
  }
  .staff-pic-3 {
    background-image: url('../img/staff-3.jpg');
    &:hover {
      .staff-image-overlay {
        opacity: 1;
        transition: 0.5s;
      }
    }
  }
  .staff-pic-4 {
    background-image: url('../img/staff-4.jpg');
    &:hover {
      .staff-image-overlay {
        opacity: 1;
        transition: 0.5s;
      }
    }
  }
  .staff-description {
    background-color: #efefef;
  }
}




// ************
// Blog section
// ************

.blog {
  text-align: center;
  padding-bottom: 20vh;
  background-image: url('../img/white_paperboard.png');
  .row {
    padding: 0 40px;
  }
  .card-container {
    padding: 5px 0;
    width: 300px;
    height: 400px;
    margin: 30px auto;
    transition: 0.5s;
  }
  .card {
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #ececec;
    background-image: none;
    display: block;
    margin: 30px auto;
    img {
      height: 50%;
      z-index: 2;
    }
    .card-circle {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      margin-left: 110px;
      margin-top: -45px;
      z-index: 1;
      h6 {
        font-family: $secondary-font;
        color: $accent-color;
        font-size: 1.1em;
        text-transform: uppercase;
        padding-top: 20px;
      }
    }
    h2 {
      font-family: $secondary-font;
      color: $font-color;
      text-transform: uppercase;
      padding-top: 50px;
    }
    p {
      font-family: $tertiary-font;
      color: $tertiary-font-color;
      padding: 20px;
    }
  }

  .card:hover {
      box-shadow: 0 10px 18px 0 rgba(0,0,0,0.3);
  }
  .card-container:hover {
    padding-top: 10px;
    transition: 0.5s;
  }
}


// ***************
// Contact section
// ***************

.contact {
  padding: 50px;
  background-image: url('img/white_paperboard.png');
  form {
    font-family: $secondary-font;
    color: $font-color;
    text-transform: uppercase;
    font-size: 0.9em;
    height: 100px;
    width: 90%;
    border-bottom: 5px solid $font-color;
    margin: 40px auto;
    span {
      font-size: 1.8em;
      color: $accent-color;
      margin-left: 10px;
    }
    input {
      width: 100%;
      height: 75px;
      background: transparent;
      border: none;
      font-size: 2em;
      &:focus {
        outline: none;
      }
    }
  }
  .message {
    height: 200px;
    width: 95%;
    input {
      height: 175px;
      font-size: 1.2em;
      margin-left: 0;
      margin-top: 0;
    }
  }
  .submit-button {
    height: 50px;
    width: 120px;
    font-family: $secondary-font;
    color: $secondary-font-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: $font-color;
    border: 1px solid $font-color;
    border-radius: 2px;
    margin-left: 50px;
    margin-top: 10px;
    transition: 0.3s;
    &:hover {
      background-color: $accent-color;
      border: 1px solid $accent-color;
      transition: 0.3s;
    }
    &:focus {
      outline: none;
    }
  }
}


// ******
// Footer
// ******

.footer {
  background-color: $font-color;
  background-image: url('../img/texture-background.png');
  text-align: center;
  height: 250px;
  padding-top: 100px;
  margin-top: 100px;
  h2 {
    font-family: $secondary-font;
    color: $secondary-font-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.6em;
  }
}




// **************************
// JS fade in animation stuff
// **************************

.fade1 {
  opacity: 0;
}

.fade2 {
  opacity: 0;
  &.in-view {
    transition-delay: 0.1s;
  }
}

.fade3 {
  opacity: 0;
  &.in-view {
    transition-delay: 0.2s;
  }
}
.fade4 {
  opacity: 0;
  &.in-view {
    transition-delay: 0.3s;
  }
}
.fade5 {
  opacity: 0;
  &.in-view {
    transition-delay: 0.4s;
  }
}

.in-view {
  opacity: 1;
  transition: 1s ease;
}


// *******************
// Slide in underlines
// *******************

.animation-element {
  opacity: 0;
  text-align: center;
}

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 10px;
}

.animation-element.slide-left.in-view {
  opacity: 1;
  width: 160px;
}


// *************
// MEDIA QUERIES
// *************
// *************
// MEDIA QUERIES
// *************
// *************
// MEDIA QUERIES
// *************

// In order from top page sections to bottom
// Sections in order from largest screens to smallest

// About section
// Changes margins of laptop img and makes it disappear on xs screens

@media (min-width: 872px) and (max-width: 991px) {
  .about {
    padding: 0 0 20vh 5vw;
    img, .stars {
      margin-top: 30px;
    }
    img {
      margin-left: 350px;
      margin-top: -300px;
      -webkit-transform: scale(1); /* Saf3.1+, Chrome */
       -moz-transform: scale(1); /* FF3.5+ */
        -ms-transform: scale(1); /* IE9 */
         -o-transform: scale(1); /* Opera 10.5+ */
            transform: scale(1);
    }
  }
}

@media (min-width: 815px) and (max-width: 871px) {
  .about {
    padding: 0 0 20vh 5vw;
    img, .stars {
      margin-top: 30px;
    }
    img {
      margin-left: 300px;
      margin-top: -300px;
      -webkit-transform: scale(1); /* Saf3.1+, Chrome */
       -moz-transform: scale(1); /* FF3.5+ */
        -ms-transform: scale(1); /* IE9 */
         -o-transform: scale(1); /* Opera 10.5+ */
            transform: scale(1);
    }
  }
}

@media (min-width: 764px) and (max-width: 814px) {
  .about {
    padding: 0 0 20vh 5vw;
    img, .stars {
      margin-top: 30px;
    }
    img {
      margin-left: 250px;
      margin-top: -300px;
      -webkit-transform: scale(1); /* Saf3.1+, Chrome */
       -moz-transform: scale(1); /* FF3.5+ */
        -ms-transform: scale(1); /* IE9 */
         -o-transform: scale(1); /* Opera 10.5+ */
            transform: scale(1);
    }
  }
}

@media (min-width: 612px) and (max-width: 763px) {
  .about {
    .stars {
      margin-top: 20px;
      margin-left: 100px;
    }
    img {
      display: none;
    }
  }
}

@media (min-width: 500px) and (max-width: 611px) {
  .about {
    .stars {
      margin-top: 20px;
      margin-left: 70px;
    }
    img {
      display: none;
    }
  }
}

@media (min-width: 425px) and (max-width: 499px) {
  .about {
    .stars {
      margin-top: 20px;
      margin-left: 45px;
    }
    img {
      display: none;
    }
  }
}

@media (min-width: 380px) and (max-width: 424px) {
  .about {
    padding: 0 0 15vh 5vw;
    .stars {
      margin-top: 20px;
      margin-left: 20px;
    }
    img {
      display: none;
    }
  }
}

@media (min-width: 300px) and (max-width: 379px) {
  .about {
    padding: 0 0 15vh 5vw;
    .stars {
      margin-top: 20px;
      margin-left: 10px;
    }
    img {
      display: none;
    }
  }
}


// Reasons to choose us section
// Changes size of text + padding for smaller screens

@media (min-width: 615px) and (max-width: 991px) {
  .reasons {
    .reasons-row {
      padding-bottom: 17vh;
      h2, p {
        padding-right: 100px;
      }
    }
    h1 {
      text-align: center;
    }
  }
}

@media (min-width: 480px) and (max-width: 614px) {
  .reasons {
    .reasons-row {
      padding-bottom: 17vh;
      h2, p {
        padding-right: 30px;
      }
    }
    h1 {
      text-align: center;
      font-size: 6em;
      margin-top: 150px;
    }
  }
}

@media (min-width: 100px) and (max-width: 479px) {
  .reasons {
    .reasons-row {
      padding-bottom: 17vh;
      h2, p {
        padding-right: 15px;
        font-size: 0.9em;
      }
    }
    h1 {
      text-align: center;
      font-size: 5em;
      margin-top: 175px;
    }
  }
}


// Logo section
// Changes size of logos and makes section disappear on xs screens

@media (min-width: 536px) and (max-width: 830px) {
  .logo-grid {
    img {
      height: 100px;
      opacity: 0.8;
    }
  }
}

@media (max-width: 535px) {
  .logo-grid {
    display: none;
  }
}


// Work grid section
// Changes margins to keep it centered

@media (min-width: 2410px) {
  .work {
    padding: 0 0 30vh 5%;
  }
}

@media (min-width: 2313px) and (max-width: 2409px) {
  .work {
    padding: 0 0 30vh 2%;
  }
}

@media (min-width: 2201px) and (max-width: 2312px) {
  .work {
    padding: 0 0 30vh 9%;
  }
}

@media (min-width: 2071px) and (max-width: 2200px) {
  .work {
    padding: 0 0 30vh 7%;
  }
}

@media (min-width: 1958px) and (max-width: 2070px) {
  .work {
    padding: 0 0 30vh 5%;
  }
}

@media (min-width: 1901px) and (max-width: 1957px) {
  .work {
    padding: 0 0 30vh 14%;
  }
}

@media (min-width: 1813px) and (max-width: 1900px) {
  .work {
    padding: 0 0 30vh 12%;
  }
}

@media (min-width: 1717px) and (max-width: 1813px) {
  .work {
    padding: 0 0 30vh 10%;
  }
}


@media (min-width: 1643px) and (max-width: 1716px) {
  .work {
    padding: 0 0 30vh 8.5%;
  }
}

@media (min-width: 1553px) and (max-width: 1642px) {
  .work {
    padding: 0 0 30vh 7%;
  }
}

@media (min-width: 1500px) and (max-width: 1552px) {
  .work {
    padding: 0 0 30vh 5%;
  }
}

@media (min-width: 1390px) and (max-width: 1499px) {
  .work {
    padding: 0 0 30vh 3%;
  }
}

@media (min-width: 1322px) and (max-width: 1389px) {
  .work {
    padding: 0 0 30vh 1.5%;
    .grid {
      margin-left: 3.5%;
    }
  }
}

@media (min-width: 1286px) and (max-width: 1321px) {
  .work {
    padding: 0 0 30vh 1.5%;
    .grid {
      margin-left: 2.5%;
    }
  }
}

@media (min-width: 1265px) and (max-width: 1285px) {
  .work {
    padding: 0 0 30vh 1.5%;
    .grid {
      margin-left: 1.5%;
    }
  }
}

@media (min-width: 1225px) and (max-width: 1264px) {
  .work {
    padding: 0 0 30vh 1.5%;
    .grid {
      margin-left: 0.5%;
    }
  }
}

@media (min-width: 1172px) and (max-width: 1224px) {
  .work {
    padding: 0 0 30vh 12%;
  }
}

@media (min-width: 1099px) and (max-width: 1171px) {
  .work {
    padding: 0 0 30vh 10%;
  }
}

@media (min-width: 1054px) and (max-width: 1098px) {
  .work {
    padding: 0 0 30vh 8%;
  }
}

@media (min-width: 1007px) and (max-width: 1054px) {
  .work {
    padding: 0 0 30vh 6%;
  }
}

@media (min-width: 950px) and (max-width: 1007px) {
  .work {
    padding: 0 0 30vh 4%;
  }
}

@media (min-width: 911px) and (max-width: 949px) {
  .work {
    padding: 0 0 30vh 2%;
  }
}

@media (min-width: 876px) and (max-width: 910px) {
  .work {
    padding: 0 0 30vh 0;
  }
}

@media (min-width: 850px) and (max-width: 875px) {
  .work {
    padding: 0 0 30vh 0;
    .grid {
      margin-left: 4%;
    }
  }
}

@media (min-width: 820px) and (max-width: 849px) {
  .work {
    padding: 0 0 30vh 0;
    .grid {
      margin-left: 2%;
    }
  }
}

@media (min-width: 744px) and (max-width: 819px) {
  .work {
    .grid {
      margin-left: 25%;
    }
  }
}

@media (min-width: 650px) and (max-width: 743px) {
  .work {
    .grid {
      margin-left: 20%;
    }
  }
}

@media (min-width: 557px) and (max-width: 649px) {
  .work {
    .grid {
      margin-left: 15%;
    }
  }
}

@media (min-width: 496px) and (max-width: 556px) {
  .work {
    .grid {
      margin-left: 10%;
    }
  }
}

@media (min-width: 471px) and (max-width: 495px) {
  .work {
    .grid {
      margin-left: 8%;
    }
  }
}

@media (min-width: 435px) and (max-width: 470px) {
  .work {
    .grid {
      margin-left: 6%;
    }
  }
}

@media (min-width: 420px) and (max-width: 436px) {
  .work {
    .grid {
      margin-left: 2%;
    }
  }
}

@media (min-width: 400px) and (max-width: 419px) {
  .work {
    .grid {
      margin-left: 12%;
      .grid-item {
        width: 300px;
      }
    }
  }
}

@media (min-width: 350px) and (max-width: 399px) {
  .work {
    .grid {
      margin-left: 9%;
      .grid-item {
        width: 300px;
      }
    }
  }
}





// Changes size of bubble chart

@media (max-width: 768px) {
  .chart-container {
    padding: 30vh 0 90vh 10vw;
    .main-circle {
      height: 350px;
      width: 350px;
      h1 {
        padding-top: 140px;
      }
    }
    .circle {
      height: 150px;
      width: 150px;
    }
    .circle-1 {
      margin-top: -450px;
      margin-left: -20px;
      height: 180px;
      width: 180px;
      h2 {
        padding-top: 70px;
      }
    }
    .circle-2 {
      margin-top: -40px;
      margin-left: -70px;
      height: 110px;
      width: 110px;
      h2 {
        padding-top: 50px;
      }
    }
    .circle-3 {
      height: 170px;
      width: 170px;
      margin-top: -25px;
      margin-left: -160px;
      h2 {
        padding-top: 80px;
      }
    }
    .circle-4 {
      margin-top: -30px;
      margin-left: -80px;
      h2 {
        padding-top: 70px;
      }
    }
    .circle-5 {
      margin-top: -80px;
      margin-left: 45px;
      width: 100px;
      height: 100px;
      h2 {
        padding-top: 45px;
      }
    }
    .circle-6 {
      height: 180px;
      width: 180px;
      margin-top: -120px;
      margin-left: 130px;
    }
    .circle-7 {
      height: 170px;
      width: 170px;
      margin-top: -240px;
      margin-left: 280px;
      h2 {
        padding-top: 80px;
      }
    }
    .circle-8 {
      height: 130px;
      width: 130px;
      margin-top: -270px;
      margin-left: 340px;
      h2 {
        padding-top: 60px;
      }
    }
    .circle-9 {
      height: 200px;
      width: 200px;
      margin-top: -320px;
      margin-left: 300px;
      h2 {
        padding-top: 100px;
      }
    }
    .circle-10 {
      height: 190px;
      width: 190px;
      margin-top: -300px;
      margin-left: 150px;
      h2 {
        padding-top: 85px;
      }
    }
  }
}


@media (max-width: 687px) {
  .chart-container {
    padding: 20vh 0 60vh 15vw;
    .main-circle {
      height: 250px;
      width: 250px;
      h1 {
        padding-top: 95px;
      }
    }
    .circle {
      height: 150px;
      width: 150px;
      h2 {
        font-size: 0.85em;
      }
    }
    .circle-1 {
      margin-top: -340px;
      margin-left: -20px;
      height: 130px;
      width: 130px;
      h2 {
        padding-top: 60px;
      }
    }
    .circle-2 {
      margin-top: -40px;
      margin-left: -65px;
      height: 90px;
      width: 90px;
      h2 {
        padding-top: 40px;
      }
    }
    .circle-3 {
      height: 135px;
      width: 135px;
      margin-top: -25px;
      margin-left: -130px;
      h2 {
        padding-top: 60px;
      }
    }
    .circle-4 {
      height: 120px;
      width: 120px;
      margin-top: -30px;
      margin-left: -80px;
      h2 {
        padding-top: 55px;
      }
    }
    .circle-5 {
      margin-top: -60px;
      margin-left: 25px;
      width: 70px;
      height: 70px;
      h2 {
        padding-top: 30px;
      }
    }
    .circle-6 {
      height: 130px;
      width: 130px;
      margin-top: -80px;
      margin-left: 85px;
      h2 {
        padding-top: 60px;
      }
    }
    .circle-7 {
      height: 110px;
      width: 110px;
      margin-top: -170px;
      margin-left: 200px;
      h2 {
        padding-top: 50px;
      }
    }
    .circle-8 {
      height: 90px;
      width: 90px;
      margin-top: -180px;
      margin-left: 240px;
      h2 {
        padding-top: 40px;
      }
    }
    .circle-9 {
      height: 155px;
      width: 155px;
      margin-top: -240px;
      margin-left: 210px;
      h2 {
        padding-top: 70px;
      }
    }
    .circle-10 {
      height: 130px;
      width: 130px;
      margin-top: -200px;
      margin-left: 100px;
      h2 {
        padding-top: 55px;
      }
    }
  }
}

@media (max-width: 560px) {
  .chart-container {
    padding: 20vh 0 60vh 12vw;
  }
}

@media (max-width: 521px) {
  .chart-container {
    padding: 20vh 0 60vh 11vw;
  }
}

@media (max-width: 508px) {
  .chart-container {
    padding: 20vh 0 40vh 20vw;
    .main-circle {
      height: 160px;
      width: 160px;
      h1 {
        padding-top: 60px;
        font-size: 2em;
      }
    }
    .circle {
      height: 150px;
      width: 150px;
      h2 {
        font-size: 0.7em;
      }
    }
    .circle-1 {
      margin-top: -240px;
      margin-left: -20px;
      height: 100px;
      width: 100px;
      h2 {
        padding-top: 45px;
      }
    }
    .circle-2 {
      margin-top: -30px;
      margin-left: -60px;
      height: 80px;
      width: 80px;
      h2 {
        padding-top: 35px;
      }
    }
    .circle-3 {
      height: 110px;
      width: 110px;
      margin-top: -10px;
      margin-left: -100px;
      h2 {
        padding-top: 50px;
      }
    }
    .circle-4 {
      height: 100px;
      width: 100px;
      margin-top: -50px;
      margin-left: -20px;
      h2 {
        padding-top: 45px;
      }
    }
    .circle-5 {
      margin-top: -65px;
      margin-left: 75px;
      width: 55px;
      height: 55px;
      h2 {
        padding-top: 22px;
      }
    }
    .circle-6 {
      display: none;
      h2 {
        padding-top: 60px;
      }
    }
    .circle-7 {
      height: 100px;
      width: 100px;
      margin-top: -110px;
      margin-left: 115px;
      h2 {
        padding-top: 45px;
      }
    }
    .circle-8 {
      height: 80px;
      width: 80px;
      margin-top: -160px;
      margin-left: 155px;
      h2 {
        padding-top: 35px;
      }
    }
    .circle-9 {
      height: 140px;
      width: 140px;
      margin-top: -200px;
      margin-left: 75px;
      h2 {
        padding-top: 65px;
      }
    }
    .circle-10 {
      display: none;
      h2 {
        padding-top: 55px;
      }
    }
  }
}

@media (max-width: 421px) {
  .chart-container {
    padding: 15vh 0 30vh 18vw;
  }
}


// Meet us section
// Changes row arrangement

@media (min-width: 992px) {
  .meet-us {
    .staff-pic-small-screens {
      display: none;
    }
  }
}

@media (max-width: 991px) {
  .meet-us {
    .staff-description {
      padding: 20px 0 80px 0;
    }
    .staff-pic-small-screens {
      display: block;
    }
    .staff-pic-large-screens {
      display: none;
    }
  }
}



// Blog section
// Changes padding on blog row

@media (min-width: 1340px) {
  .blog {
    .row {
      padding: 0 120px;
    }
  }
}

@media (min-width: 1250px) {
  .blog {
    .row {
      padding: 0 100px;
    }
  }
}

@media (min-width: 1170px) {
  .blog {
    .row {
      padding: 0 80px;
    }
  }
}
