// *************************************************
// Slider for staff quotes section, not hero section
// *************************************************
.staff-quotes {
  padding: 20vh 0;
  background-color: rgba(0, 0, 0, 0.01);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .border {
    width: 80px;
    height: 0;
    border-bottom: 8px solid $accent-color;
    margin: 30px auto;
  }
  h6 {
    font-family: $secondary-font;
    color: $font-color;
    text-transform: uppercase;
  }
}

.slides {
    padding: 0;
    width: 809px;
    height: 520px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container {
  display: block;
}

.slide {
    top: 0;
    opacity: 0;
    width: 809px;
    height: 420px;
    text-align: center;
    display: block;
    position: absolute;
    transform: scale(0);

    transition: all .7s ease-in-out;
    h2 {
      padding-top: 40px;
      font-family: $tertiary-font;
      line-height: 2.5em;
      span {
        font-family: 'Coustard', serif;
        color: $accent-color;
        font-size: 2.5em;
      }
    }
}

.slide img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 18px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: $accent-color;
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3
{
	background: $accent-color;
}


// *************
// Media queries
// *************

// Changes size of slider

@media (max-width: 799px) {
  .slides {
      width: 609px;
      height: 320px;
  }
  .slide {
      width: 609px;
      height: 320px;
    }
    .nav-dots .nav-dot {
    	top: 100px;
    }
    .staff-quotes {
      padding-bottom: 240px;
      .border {
        display: none;
      }
      h6 {
        display: none;
      }
    }
}

@media (max-width: 635px) {
  .slides {
      width: 509px;
      height: 220px;
  }
  .slide {
      width: 509px;
      height: 220px;
    }
    .nav-dots .nav-dot {
    	top: 200px;
    }
    .staff-quotes {
      padding-bottom: 340px;
      .border {
        display: none;
      }
      h6 {
        display: none;
      }
    }
}

@media (max-width: 535px) {
  .slides {
      width: 409px;
      height: 220px;
  }
  .slide {
      width: 409px;
      height: 220px;
    }
    .nav-dots .nav-dot {
    	top: 300px;
    }
    .staff-quotes {
      padding-bottom: 440px;
      .border {
        display: none;
      }
      h6 {
        display: none;
      }
    }
}

@media (max-width: 425px) {
  .slides {
      width: 309px;
      height: 220px;
  }
  .slide {
      width: 309px;
      height: 220px;
    }
    .nav-dots .nav-dot {
    	top: 400px;
    }
    .staff-quotes {
      padding-bottom: 540px;
      .border {
        display: none;
      }
      h6 {
        display: none;
      }
    }
}

@media (max-width: 425px) {
    .nav-dots .nav-dot {
    	top: 340px;
    }
    .staff-quotes {
      padding-bottom: 440px;
      .border {
        display: none;
      }
      h6 {
        display: none;
      }
    }
}
